<h2>Item #{{id}}</h2>
<table>
  <tr>
    <th>Condition</th>
    <td>{{condition}}</td>
  </tr>
  <tr>
    <th>Category</th>
    <td>{{category}}</td>
  </tr>
  <tr>
    <th>Subcategory</th>
    <td>{{subcategory}}</td>
  </tr>
  <tr>
    <th>Item</th>
    <td>{{item}}</td>
  </tr>
  <tr>
    <th>Size</th>
    <td>{{size}}</td>
  </tr>
  <tr>
    <th>Brand</th>
    <td>{{brand}}</td>
  </tr>
</table> 

<div class="container">
  <form action="/items/edit/{{id}}" method="get">
    <button>Edit</button>
  </form>

  <form action="/items/delete/{{id}}" method="post">
    <button>Delete</button>
  </form>
</div>


{{!-- ANOTHER OPTION TO DISPLAY THE TABLE
<div>
  <h2>Item #{{id}}</h2>
  <table>
    <tr>
      <th>Condition</th>
      <th>Category</th>
      <th>Subcategory</th>
      <th>Item</th>
      <th>Size</th>
      <th>Brand</th>
    </tr>
    <tr>
      <td>{{condition}}</td>
      <td>{{category}}</td>
      <td>{{subcategory}}</td>
      <td>{{item}}</td>
      <td>{{size}}</td>
      <td>{{brand}}</td>
    </tr>
  </table> 
</div>
--}}