{{!-- <h2>Item #{{id}}</h2>

{{> item}}

<div class="editDel">
  <form action="/items/edit/{{id}}" method="get">
    <button>Edit</button>
  </form>

  <form action="/items/delete/{{id}}" method="get">
    <button>Delete</button>
  </form>
</div>
{{> goHome}} --}}




{{!-- ANOTHER OPTION TO DISPLAY THE TABLE
<div>
  <h2>Item #{{id}}</h2>
  <table>
    <tr>
      <th>Condition</th>
      <th>Category</th>
      <th>Subcategory</th>
      <th>Item</th>
      <th>Size</th>
      <th>Brand</th>
    </tr>
    <tr>
      <td>{{condition}}</td>
      <td>{{category}}</td>
      <td>{{subcategory}}</td>
      <td>{{item}}</td>
      <td>{{size}}</td>
      <td>{{brand}}</td>
    </tr>
  </table> 
</div>
--}}